<div [formGroup]="form">
  <div>
    @switch (control.controlType) {
      @case (ControlType.checkbox) {
        <app-dynamic-form-checkbox [control]="control" [form]="form"></app-dynamic-form-checkbox>
      }
      @case (ControlType.textbox) {
        <app-dynamic-form-textarea [control]="control" [form]="form"></app-dynamic-form-textarea>
      }
      @case (ControlType.input) {
        <app-dynamic-form-input [control]="control" [form]="form"></app-dynamic-form-input>
      }
      @case (ControlType.dropdown) {
        <app-dynamic-form-select [control]="control" [form]="form"></app-dynamic-form-select>
      }
      @case (ControlType.radio) {
        <app-dynamic-form-radio [control]="control" [form]="form"></app-dynamic-form-radio>
      }
      @case (ControlType.datepicker) {
        <app-dynamic-form-datepicker [control]="control" [form]="form"></app-dynamic-form-datepicker>
      }
      @case (ControlType.file) {
        <app-dynamic-form-file-upload [control]="control" [form]="form"></app-dynamic-form-file-upload>
      }
    }
  </div>
  @if (!isValid) {<div class="errorMessage"> {{ control.prefix+'.'+control.key+'.label' | translate }} is has an error</div>}
</div>
