.icon-xs {
  min-width: var(--icon-size-xs);
  font-size: var(--icon-size-xs);
}

.icon-s {
  min-width: var(--icon-size-1);
  font-size: var(--icon-size-1);
}

.icon-m {
  min-width: var(--icon-size-2);
  font-size: var(--icon-size-2);
}

.icon-l {
  min-width: var(--icon-size-3);
  font-size: var(--icon-size-3);
}

.icon-xl {
  min-width: var(--icon-size-4);
  font-size: var(--icon-size-4);
}

.icon-xxl {
  min-width: var(--icon-size-5);
  font-size: var(--icon-size-5);
}

.icon-xxxl {
  min-width: var(--icon-size-5);
  font-size: var(--icon-size-5);
}
