html{
  //--ion-font-family: 'Source Sans Pro', sans-serif;
  //--ion-default-font: 'Source Sans Pro', sans-serif;

  --tab-bar-height: 3.438rem;

  --size-0: 0;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --negative-size-4: -1rem;
  --size-5: 1.5rem;
  --size-6: 2rem;
  --size-7: 3rem;
  --size-8: 4rem;

  --icon-size-xs: 0.75rem;
  --icon-size-1: 1rem;
  --icon-size-2: 1.5rem;
  --icon-size-3: 2rem;
  --icon-size-4: 3rem;
  --icon-size-5: 4rem;
  --icon-size-6: 5rem;

  --line-height-2: 1.5rem;
  --line-height-3: 1.5;

  --font-xxs: 0.625rem;
  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-m: 1rem;
  --font-l: 1.125rem;
  --font-xl: 1.25rem;
  --font-xxl: 1.5rem;
  --font-xxxl: 2rem;
  --font-xxxxl: 3rem;

  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
}
