<form [formGroup]="form">
  <div class="dynamic-form-input-container">
    <div class="dynamic-form-input-label c-dark font-m mb-2">
      <label [for]="control.key">
        {{ control.controlLabel | translate }}
      </label>
    </div>
    <input
      (focusin)="showError = true"
      (focusout)="showError = false"
      [formControlName]="control.key"
      [id]="control.key"
      [ngClass]="{ 'control-invalid': getControlErrorState(form, control) }"
      [placeholder]="control.controlPlaceholder | translate"
      [type]="ControlBaseInputTypes.password"
      class="dynamic-form-input p-2"
    />
  </div>
  @if (control.showPasswordConditions) {
    <app-password-help [password]="form.controls[control.key].value">
    </app-password-help>
  }
</form>
