<form [formGroup]="form" class="w-100">
<!--  <ion-toggle-->
<!--    [color]="control.color"-->
<!--    [formControlName]="control.key"-->
<!--    [id]="control.key"-->
<!--    [labelPlacement]="control.checkboxLabelPlacement"-->
<!--    class="w-100"-->
<!--  >-->
<!--    @if (!!control.componentRef) {-->
<!--      <div class="ion-text-wrap">-->
<!--        <ng-content></ng-content>-->
<!--      </div>-->
<!--    } @else {-->
<!--      <div class="d-flex f-align-center">-->
<!--        @if (!!control.labelIcon) {-->
<!--          <ion-icon-->
<!--            [name]="control.labelIcon"-->
<!--            class="icon-m mr-4 c-text"-->
<!--          ></ion-icon>-->
<!--        }-->
<!--        <span-->
<!--          class="ion-text-wrap c-dark"-->
<!--          [innerHTML]="control.controlLabel | translate: control.labelParams"-->
<!--        >-->
<!--        </span>-->
<!--      </div>-->
<!--    }-->
<!--  </ion-toggle>-->
</form>

<!-- [enableOnOffLabels]="true" -->
